.card-body {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}


.edit-icon {
    position: relative;
    left: 20px;
    bottom: 15px;
}

.delete-icon {
    position: relative;
    left: 35px;
    bottom: 15px;
    color: rgba(255, 0, 0, 0.815);
}