<div class="card my-3">
  <div class="card-header">
      <div class="d-flex justify-content-end">
        <a [routerLink]="['/editCard', cardData.id_deck, cardData.id_card]" class="btn btn-link edit-btn"><span class="material-icons">create</span></a>
        <button (click)="onClick()" class="btn btn-link delete-btn"><span class="material-icons">delete_forever</span></button>
      </div>
  </div>
    <div class="card-body">
      <h4>Front:</h4>
      <p contenteditable="false" class="card-text">{{ cardData.front }}</p>
    </div>
    <div class="card-footer">
      <h4>Back:</h4>
      <p class="card-text">{{ cardData.back }}</p>
    </div>
  </div>
